.AllCon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
  }
  .AllKind {
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    width: 900px;
    select {
      margin-right: 20px;
    }
  }
  .AllDiv {
    width: 900px;
    display: flex;
    flex-direction: column;
  }
}
.AllImgDiv {
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 25px;
  box-shadow: rgba(100, 111, 124, 0.1) 0px 20px 8px 0px;
  margin-bottom: 25px;
  border-radius: 20px;
  &:hover {
    transform: scale(1.05);
  }
  h4 {
    margin: 0 0 5px 0;
    font-size: 18px;
  }
  .imageBox {
    position: relative;
    display: inline-block;
    .toolImg {
      width: 250px;
      height: 290px;
      border-radius: 20px;
    }
    .heart {
      position: absolute;
      top: 230px;
      left: 200px;
      width: 38px;
      height: auto;
    }
  }
}
.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
}
.ImgCon {
  width: 425px;
}
.allPrice {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  .allSale {
    padding-right: 5px;
    color: red;
  }
}
.allBody {
  color: gray;
  padding: 10px 0;
}
.allReview {
  display: flex;
  &:hover {
    font-weight: bold;
  }
}
.allDelivery {
  border-radius: 4px;
  padding: 4px 5px;
  margin: 0px 6px 0px 0px;
  color: rgb(83, 91, 99);
  background: rgb(241, 243, 246);
  width: 70px;
  text-align: center;
}
.allButtonDiv {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 30px;
    height: 30px;
    margin: 0 20px;
    border: 0;
    background-color: white;
    margin-right: 0;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
  div {
    cursor: pointer;
  }
}
.allToolCon {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageNumber {
  display: inline-block;
  margin: 0 5px;
}

.pageNumberCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  color: white;
}

.activePage {
  background-color: blue;
}

.viewAll {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.ItemTrees {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.homeAppliances {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.Fabric {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.clothes {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.DailySupplies {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.hobby {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.Lighting {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.Tool {
  border-bottom: 4px solid blue;
  p {
    margin: 0.5vw;
  }
}
.navigate2 {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  font-size: 1.3vw;
  flex-direction: row;
  height: 50px;
  p {
    cursor: pointer;
  }
}
