.AnnCon {
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;

  .AnnDiv {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(236 237 239);
  }
}
.AnnContent {
  width: 980px;
  height: auto;
  margin: 100px 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  ul {
    span {
      font-weight: bold;
    }
    padding: 0;
    list-style-type: none;
    li {
      padding-left: 50px;
      padding-top: 20px;
    }
  }
  p {
    font-size: 20px;
    color: black;
    span {
      font-weight: bold;
    }
  }

  .day {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 780px;
    flex-direction: column;
    p {
      padding: 20px 50px;
      flex-direction: column;
      margin: 0;
    }
  }
}
.div1,
.div2,
.div3 {
  padding: 0 100px 50px 100px;
}

//////////////////////////////////////미디어 쿼리////////////////////////////////////////////

@media (min-width: 1000px) and (max-width: 1430px) {
  .AnnCon {
    .AnnDiv {
      width: 800px;
      .AnnContent {
        width: 800px;
        .day {
          width: 600px;
        }
      }
    }
  }
}
@media (min-width: 650px) and (max-width: 1000px) {
  .AnnCon {
    .AnnDiv {
      width: 600px;
      .AnnContent {
        width: 600px;
        .day {
          width: 450px;
        }
      }
    }
  }
}
@media (min-width: 510px) and (max-width: 650px) {
  .AnnCon {
    .AnnDiv {
      width: 500px;
      .AnnContent {
        width: 500px;
        .day {
          width: 350px;
        }
      }
    }
  }
}
@media (max-width: 510px) {
  .AnnCon {
    padding: 0 0 50px 0;
    .AnnDiv {
      width: 300px;
      .AnnContent {
        width: 300px;
        margin: 50px 0;
        h1 {
          font-size: 25px;
        }
        .div1 {
          padding: 10px;
          font-size: 10px;
          li {
            padding-left: 30px;
            padding-top: 20px;
          }
          p {
            font-size: 10px;
          }
        }
        .div2,
        .div3 {
          padding: 10px;
          p {
            font-size: 10px;
          }
        }
        .day {
          width: 200px;
          p {
            font-size: 10px;
            padding: 10px;
          }
        }
      }
    }
  }
}
