.SetCon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
  }
  .SetKind {
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    width: 900px;
    select {
      margin-right: 20px;
    }
  }
  .SetDiv {
    width: 900px;
    display: flex;
    flex-direction: column;
  }
}
.SetImgDiv {
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 25px;
  box-shadow: rgba(100, 111, 124, 0.1) 0px 20px 8px 0px;
  margin-bottom: 25px;
  border-radius: 20px;
  &:hover {
    transform: scale(1.05);
  }
  h4 {
    margin: 0 0 5px 0;
    font-size: 18px;
  }
  img {
    width: 250px;
    height: 290px;
    border-radius: 20px;
  }
}
.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
}
.ImgCon {
  width: 425px;
}
.SetPrice {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  .SetSale {
    padding-right: 5px;
    color: red;
  }
}
.SetBody {
  color: gray;
  padding: 10px 0;
}
.SetReview {
  display: flex;
}
.SetDelivery {
  border-radius: 4px;
  padding: 4px 5px;
  margin: 0px 6px 0px 0px;
  color: rgb(83, 91, 99);
  background: rgb(241, 243, 246);
  width: 70px;
  text-align: center;
}
.SetButtonDiv {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 30px;
    height: 30px;
    margin: 0 20px;
    border: 0;
    background-color: white;
    margin-right: 0;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
  div {
    cursor: pointer;
  }
}
.SetToolCon {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageNumber {
  display: inline-block;
  margin: 0 5px;
}

.pageNumberCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  color: white;
}

.activePage {
  background-color: blue;
}
.SetConDiv {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
//////////////////////////////////////미디어 쿼리////////////////////////////////////////////

@media (min-width: 1000px) and (max-width: 1430px) {
  .SetCon {
    .SetDiv {
      width: 800px;
      .SetKind {
        width: 800px;
      }
      .SetConDiv {
        width: 800px;
      }
      .SetButtonDiv {
        width: 800px;
      }
    }
  }
}
@media (min-width: 650px) and (max-width: 1000px) {
  .SetCon {
    .SetDiv {
      width: 600px;
      .SetKind {
        width: 600px;
      }
      .SetConDiv {
        width: 600px;
      }
      .SetButtonDiv {
        width: 600px;
      }
    }
  }
}
@media (min-width: 510px) and (max-width: 650px) {
  .SetCon {
    .SetDiv {
      width: 500px;
      .SetKind {
        width: 500px;
      }
      .SetConDiv {
        width: 500px;
        .SetImgDiv {
          width: 200px;
          height: 350px;
          img {
            width: 200px;
            height: 70%;
          }
          h4 {
            font-size: 15px;
          }
          .SetPrice {
            font-size: 15px;
            padding-top: 0;
          }
          .SetBody {
            padding: 5px 0;
          }
          .SetReview {
            font-size: 13px;
          }
          .SetDelivery {
            font-size: 13px;
            width: 70px;
            height: 15px;
          }
        }
      }
      .SetButtonDiv {
        width: 500px;
      }
    }
  }
}
@media (max-width: 510px) {
  .SetCon {
    .SetDiv {
      width: 300px;
      h2 {
        font-size: 15px;
      }
      .SetKind {
        width: 300px;
      }
      .SetConDiv {
        width: 300px;
        flex-direction: column;
        align-items: center;
        .SetImgDiv {
          width: 200px;
          height: 350px;
          img {
            width: 200px;
            height: 70%;
          }
          h4 {
            font-size: 15px;
          }
          .SetPrice {
            font-size: 15px;
            padding-top: 0;
          }
          .SetBody {
            padding: 5px 0;
          }
          .SetReview {
            font-size: 13px;
          }
          .SetDelivery {
            font-size: 13px;
            width: 70px;
            height: 15px;
          }
        }
      }
      .SetButtonDiv {
        width: 300px;
      }
    }
  }
}
