.BannerSlide {
  width: 100%;
  min-width: 1440px;
  height: 500px;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  justify-content: center;
  .swiperNumber {
    height: 100%;
    width: 1000px;
    .slideImgContainer {
      width: 1000px;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .buttonCon {
      height: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 900px;
      .buttonDiv {
        display: flex;
        position: absolute;
        height: 30px;
        right: calc(50% - 480px);
        bottom: 40px;
        border-radius: 8px;
        background: rgba(24, 29, 31, 0.5);
        color: rgb(255, 255, 255);
        z-index: 100;
        .leftButton {
          width: 50px;
          height: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .rightButton {
          width: 50px;
          height: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.MainLine {
  width: 100%;
  height: 6px;
  background: white;
}
.MainMiddle {
  display: flex;
  justify-content: center;
  height: 500px;
  background-color: rgb(247, 248, 249);
  align-items: center;
  flex-direction: column;
  .PopolarTitle {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    font-size: 22px;
    font-weight: bold;
    button {
      position: static;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      width: 102px;
      height: 40px;
      padding: 0px;
      border-radius: 20px;
      border: 1px solid rgb(179, 186, 193);
      margin: 0px;
      background: transparent;
      font-weight: normal;
      font-size: 1rem;
      color: black;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
      span {
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
  .PopolarMiddle {
    font-size: 19px;
    padding: 10px 0 0 20px;
    width: 980px;
  }
  .PopularMain {
    display: flex;
    height: auto;
    padding: 30px 0px 30px;
    background: rgb(247, 248, 249);
    width: 1150px;
    padding: 20px 75px;
    align-items: center;
    .MiddleSlide {
      width: 235px;
      height: 235px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.MiddleButton {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50px;
  margin-left: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}
.ImgBox {
  padding-left: 15px;
  .ImgText {
    height: 100px;
    background-color: white;
  }
}
.MainCategoryCon {
  width: 100%;
  height: 500px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  .MainCategoryDiv {
    width: 1000px;
    .CategoryCon {
      display: flex;
      padding: 50px 0;
      width: 1000px;
      a {
        padding-right: 20px;
      }
      .CategoryImg {
        width: 100px;
        height: 150px;
        border-radius: 50%;
        background-color: #dff5ff;
        img {
          width: 100%;
          height: 80%;
        }
        div {
          text-align: center;
        }
      }
    }
  }
  span {
    font-size: 22px;
    font-weight: bold;
  }
}
