.top {
  width: 900px;
  margin-top: 10.5%;
  margin-left: auto;
  margin-right: auto;
  .navigate1 {
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    text-align: center;
    line-height: 50px;
    .allBest {
      width: 100%;
      background: rgb(247, 248, 249);
      color: gray;
      cursor: pointer;
    }
    .categoryBest {
      width: 100%;
      background: rgb(247, 248, 249);
      color: gray;
      cursor: pointer;
    }
  }
  .navigate2 {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    font-size: 1.3vw;
    div {
      p {
        cursor: pointer;
      }
    }
  }
  hr {
    margin-top: 1vw;
  }

  .activeAllBest {
    background: blue;
    width: 100%;
    color: white;
  }

  .activeCategoryBest {
    background: blue;
    width: 100%;
    color: white;
  }
  .viewAll {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewWeekChart {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewMonthChart {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewHonor {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }

  .viewToolA {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewToolB {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewToolC {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewToolD {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewToolE {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewToolF {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewToolG {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }
  .viewToolH {
    border-bottom: 4px solid blue;
    p {
      margin: 0.5vw;
    }
  }

  //////////////////////////////////////////////////////////////////
  /// 가구 배치 CSS

  .parentToolContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration-line: none;
    }
    .childImgContainer {
      width: 250px;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      flex-wrap: wrap;
      padding-bottom: 25px;
      box-shadow: rgba(100, 111, 124, 0.1) 0px 20px 8px 0px;
      margin-bottom: 25px;
      border-radius: 20px;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      h4 {
        margin: 0 0 5px 0;
        font-size: 18px;
      }
      .imageBox {
        position: relative;
        display: inline-block;
        .toolImg {
          width: 250px;
          height: 290px;
          border-radius: 20px;
        }
        .heart {
          position: absolute;
          top: 230px;
          left: 200px;
          width: 38px;
          height: auto;
        }
      }
    }
    .childTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 20px;
      h4 {
        color: black;
      }
    }
    .childPrice {
      display: flex;
      font-size: 20px;
      font-weight: bold;
      padding-top: 10px;
      color: black;
      .childSale {
        padding-right: 5px;
        color: red;
      }
    }
    .childDelivery {
      border-radius: 4px;
      padding: 4px 5px;
      margin: 0px 6px 0px 0px;
      color: rgb(83, 91, 99);
      background: rgb(241, 243, 246);
      width: 70px;
      text-align: center;
    }
    .childReview {
      display: flex;
      &:hover {
        font-weight: bold;
      }
    }
    .childBody {
      color: gray;
      padding: 10px 0;
    }
  }
}

// 페이지네이션 패키지에서 받아온 태그 디자인
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 30px auto;

  li {
    list-style-type: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9d9d9;
    transition: all 0.3s;

    &:hover,
    &:active,
    &.active {
      // 색 변경할 예정
      background-color: #007bff;
      color: white;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-last-child(1),
    &:nth-last-child(2) {
      a {
        align-items: baseline;
        font-size: 20px;
      }
    }
    a {
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 12px;
    }
  }
}
.PopularStart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
//////////////////////////////////////미디어 쿼리////////////////////////////////////////////

@media (min-width: 1000px) and (max-width: 1430px) {
  .top {
    width: 800px;
    .navigate2 {
      width: 800px;
    }
    hr {
      width: 800px;
    }
  }
}
@media (min-width: 650px) and (max-width: 1000px) {
  .top {
    width: 600px;
    .navigate2 {
      width: 600px;
    }
    hr {
      width: 600px;
    }
    .PopularStart {
      width: 600px;
    }
  }
}
@media (min-width: 510px) and (max-width: 650px) {
  .top {
    width: 500px;
    .navigate2 {
      width: 500px;
    }
    hr {
      width: 500px;
    }
    .PopularStart {
      width: 500px;
      justify-content: space-between;
      .parentToolContainer {
        width: 250px;
        .childImgContainer {
          width: 200px;
          height: 400px;
          h4 {
            font-size: 15px;
          }
          .childBody {
            font-size: 15px;
            text-align: end;
          }
          .childPrice {
            font-size: 15px;
          }
          .imageBox {
            width: 200px;
            .toolImg {
              width: 200px;
              height: 250px;
            }
            .heart {
              left: 150px;
              top: 200px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 510px) {
  .top {
    width: 300px;
    .navigate1 {
      font-size: 15px;
    }
    .navigate2 {
      width: 300px;
      div {
        p {
          font-size: 10px;
        }
      }
    }
    hr {
      width: 300px;
    }
    .PopularStart {
      width: 300px;
      flex-direction: column;
      align-items: center;
      .parentToolContainer {
        width: 250px;
        .childImgContainer {
          width: 200px;
          height: 350px;
          h4 {
            font-size: 15px;
          }
          .childBody {
            font-size: 15px;
            text-align: end;
            padding: 0;
          }
          .childPrice {
            font-size: 15px;
          }
          .childTitle {
            font-size: 10px;
          }
          .imageBox {
            width: 200px;
            .toolImg {
              width: 200px;
              height: 250px;
            }
            .heart {
              left: 150px;
              top: 210px;
            }
          }
        }
      }
    }
  }
}
