.shoppingCon {
  margin-top: 8.5%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.shoppingDiv {
  width: 900px;
  display: flex;
}
.shoppingMenu {
  background: rgb(207, 207, 207);
  width: 65%;
  height: 700px;
  overflow-y: scroll;
}
.shoppingMoney {
  width: 35%;
  display: flex;
  justify-content: center;
  position: relative;
  form {
    position: absolute;
    top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 100px;
    label {
      font-size: 20px;
      font-weight: bold;
      width: 200px;
      text-wrap: nowrap;
    }
    button {
      border-style: none;
      background: none;
      .paymentDiv {
        width: 300px;
        height: 50px;
        border-radius: 20px;
        border: solid black;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        font-size: 20px;
        color: white;
        background-color: antiquewhite;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
.imgDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.allDiv {
  padding: 20px 5px;
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
}
.allExit {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.shoopingElement {
  display: flex;
  justify-content: start;
  .shoppingImg {
    margin-top: 10px;
    img {
      width: 250px;
      height: 250px;
    }
  }
  .Attributes {
    width: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    .shoppingTitle {
      font-size: 25px;
      text-wrap: nowrap;
      font-weight: bold;
      color: black;
    }
    .shoppingBody {
      text-wrap: nowrap;
      margin-top: 3%;
      padding: 5%;
      font-size: 18px;
      font-weight: bold;
      color: purple;
    }
    .PriceSale {
      display: flex;
      justify-content: center;
      margin-top: 3%;
    }
    .shoppingSale {
      font-size: 21px;
      font-weight: bold;
      color: red;
    }
    .shoppingPrice {
      font-size: 21px;
      font-weight: bold;
      margin-left: 3%;
    }
  }
  .shopDel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
    font-weight: weight;
    font-size: 16px;
    .itemAdd {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgba(255, 204, 102, 1) 0%,
        rgba(255, 153, 153, 1) 35%,
        rgba(255, 204, 255, 1) 100%
      );
      color: brown;
      font-weight: bolder;
      padding: 5px;
      // border: 3px solid blue;
      border-radius: 10%;
    }
    .itemDel {
      cursor: pointer;
      background: linear-gradient(
        90deg,
        rgba(255, 204, 102, 1) 0%,
        rgba(255, 153, 153, 1) 35%,
        rgba(255, 204, 255, 1) 100%
      );
      color: Brown;
      font-weight: bolder;
      padding: 5px;
      // border: 3px solid blue;
      border-radius: 10%;
    }
  }
}
