.footerMenu {
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(247, 248, 249);
  .footerMenuCon {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
      width: 900px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: black;
      }
      padding: 0;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
      }
      img {
        width: 80px;
        height: 80px;
        padding-bottom: 5px;
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(207, 207, 207);
  .footerTextCon {
    display: flex;
    .footerText1 {
      padding: 30px;
      div {
        padding: 10px;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: black;
        div {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .footerText2 {
      padding: 30px;
      div {
        padding: 10px;
      }
    }
  }
  .footerCon {
    height: 300px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    .footerImgCon {
      display: flex;
      a {
        width: 100px;
        height: 100px;
        padding-right: 10px;
      }
      .footerImgDiv {
        width: 55px;
        height: 55px;
        padding: 30px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.footerUnderCon {
  height: auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  div {
    font-size: 20px;
  }
}
////////////////////////////////chat///////////////////////////////////////////
.chatDiv {
  position: fixed;
  bottom: 100px;
  right: 170px;
  width: 100px;
  height: 100px;
  z-index: 999999999;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}

//////////////////////////////////////미디어 쿼리////////////////////////////////////////////
@media (min-width: 1000px) and (max-width: 1430px) {
  .footerMenu {
    .footerMenuCon {
      ul {
        width: 800px;
      }
    }
    .footer {
      .footerCon {
        width: 800px;
      }
      .footerUnderCon {
        width: 800px;
      }
    }
  }
}

@media (min-width: 650px) and (max-width: 1000px) {
  .footerMenu {
    .footerMenuCon {
      ul {
        width: 600px;
      }
    }
    .footer {
      .footerCon {
        width: 600px;
        font-size: 12px;
        .footerImgCon {
          a {
            width: 50px;
            height: 50px;
            .footerImgDiv {
              padding: 30px 0 0 0;
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      .footerUnderCon {
        width: 600px;
        div {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 510px) and (max-width: 650px) {
  .chatDiv {
    display: none;
  }
  .footerMenu {
    .footerMenuCon {
      display: flex;
      justify-content: center;
      ul {
        width: 500px;
        height: 100px;
        a {
          li {
            width: 70px;
            height: 70px;
            img {
              width: 100%;
              height: 80%;
            }
          }
        }
      }
    }
    .footer {
      .footerCon {
        width: 500px;
        font-size: 12px;
        .footerImgCon {
          a {
            width: 50px;
            height: 50px;
            .footerImgDiv {
              padding: 30px 0 0 0;
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      .footerUnderCon {
        width: 500px;
        div {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 510px) {
  .chatDiv {
    display: none;
  }
  .footerMenu {
    .footerMenuCon {
      display: flex;
      justify-content: center;
      ul {
        width: 300px;
        height: 80px;
        a {
          li {
            width: 50px;
            height: 50px;
            font-size: 10px;
            img {
              width: 100%;
              height: 80%;
            }
          }
        }
      }
    }
    .footer {
      .footerCon {
        width: 300px;
        height: 350px;
        font-size: 12px;
        flex-direction: column;
        justify-content: normal;
        .footerText1,
        .footerText2 {
          padding: 30px 0;
        }
        .footerImgCon {
          justify-content: flex-end;

          a {
            width: 30px;
            height: 30px;
            .footerImgDiv {
              padding: 30px 0 0 0;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .footerUnderCon {
        width: 300px;
        height: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        div {
          font-size: 10px;
        }
      }
    }
  }
}
